{% extends 'base.html.twig' %}

{% block body_class %}order-body{% endblock %}

{% block body %}
    <div class="container-order" onload="orderLoaded()">

        <!----------------------------- Navbar ---------------------------->

        <div class="nav-order-container">
            <div class="nav-order">
                <a class="navbar-brand nav-title" href="{{ path('app_homepage') }}">
                    <div class="title">Donuts Coffee</div>
                </a>
                <div class="cart-button-container">
                    <button class="shopping-cart-button">
                        <i class="fa fa-shopping-cart shopping-cart-icon" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="cart">
                    <div class="cart-title">
                        <h4 class="dark-bg">Your Order</h4>
                    </div>
                    <div class="cart-content-container">

                        {# Here goes the Cart Items injected through jquery ( Ajax ) #}

                    </div>
                    <div class="cart-name">
                        <label for="client-name" class="dark-bg">Name:</label>
                        <input class="form-control name-input" placeholder="Order by the name of" aria-label="Client-name" aria-describedby="basic-addon1" type="text" id="client-name" />
                    </div>
                    <div class="cart-phone">
                        <label for="client-phone" class="dark-bg">Phone:</label>
                        <input class="form-control phone-input" placeholder="Valid phone number here " aria-label="Client-phone-number" aria-describedby="basic-addon1" type="text" id="client-phone" />
                    </div>
                    <div class="cart-address-container">
                        <div class="cart-address">
                            <label for="client-address" class="white-bg">Please type in your address and confirm:</label>
                            <input class="form-control address-input" name="client-address" placeholder="Type in your address " aria-label="Client-address" aria-describedby="basic-addon1" type="text" id="client-address" />
                            <button id="delivery-confirm-btn" class="btn btn-outline-dark btn-choice btn-confirm-order">Confirm</button>

                            <div class="close-cart-address-container">
                                <i class="fa fa-times white close-cart-address" aria-hidden="true" role="button"></i>
                            </div>
                        </div>
                    </div>
                    <div class="cart-confirm-container">
                        <div class="cart-confirm">
                            <h2>Please confirm your order.</h2>
                            <button id="pickup-confirm-btn" class="btn btn-outline-dark btn-choice btn-confirm-order">Confirm</button>

                            <div class="close-cart-confirm-container">
                                <i class="fa fa-times white close-cart-confirm" aria-hidden="true" role="button"></i>
                            </div>
                        </div>
                    </div>
                    <div class="cart-space"></div>
                    <div class="cart-validation-choice">
                        <a href="{{ path('order_delivery') }}" id="delivery" class="btn btn-outline-light btn-choice order-delivery">Delivery</a>
                        <a href="{{ path('order_pickup') }}" id="pickup" class="btn btn-outline-light btn-choice order-pickup">Pickup</a>
                        <input type="hidden" name="delivery-confirm" id="delivery-confirm" value="0">
                        <input type="hidden" name="pickup-confirm" id="pickup-confirm" value="0">
                    </div>
                </div>
            </div>
        </div>

        <!----------------------------- Product Menu ---------------------------->

        <div class="menu">
            <h1 class="menu-title">Menu</h1>
        </div>

        <div class="menu-grid">
            <div class="product-grid">

                {% for article in articles %}
                    <div class="item">
                        <div class="item-img">
                            <img src="{{ article.link }}" alt="Item" class="donut-order-img">
                        </div>
                        <div class="item-desc">
                            <div class="item-name-container">
                                <h5 class="white-bg item-name">{{ article.name }}</h5>
                                <p class="white-bg item-description">{{ article.description }}</p>
                            </div>
                            <div class="item-price-container">
                                <div class="white-bg price">{{ article.price }}dt</div>
                                <a href="{{ path('article_display', {slug: article.slug}) }}" class="btn btn-outline-secondary add-to-cart js-add-to-cart" role="button">Add To Cart</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}


                <div class="item-chosen-container">
                    <div class="item-chosen">
                        <div class="item-chosen-img-container">
                            <img alt="Item" class="donut-order-img-chosen">
                        </div>
                        <div class="item-chosen-desc-container">
                            <div class="item-title">
                                <h5 class="donut-chosen-title"></h5>
                            </div>
                            <div class="item-desc">
                                <div class="item-desc-text"></div>
                                <div class="item-desc-user-input input-group input-group-sm mb-3">
                                    <label for="donut-instructions" class="user-input-item">Description: </label>
                                    <textarea type="text" name="instructions" id="donut-instructions" class="form-control" placeholder="Specific instructions written here"></textarea>
                                </div>
                            </div>
                            <div class="item-add-toppings-container">
                                <a href="" class="btn btn-outline-success show-toppings-btn js-show-topping-menu">Toppings?</a>
                            </div>
                            <div class="item-add-btn-container">
                                <a href="" class="btn btn-outline-dark item-add-btn js-item-add-btn">Add To Cart</a>
                            </div>
                        </div>

                        <div class="close-item-chosen-container">
                            <i class="fa fa-times white close-item-chosen" aria-hidden="true" role="button"></i>
                        </div>

                        <div class="topping-menu-container">
                            <div class="topping-menu">

                                <div class="topping-item-container">
                                    <div class="topping-item">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                            <label class="form-check-label" for="exampleCheck1">Topping</label>
                                        </div>
                                        <span class="badge badge-success topping-item-price">1.000dt</span>
                                    </div>
                                </div>

                                <div class="close-topping-menu-container">
                                    <i class="fa fa-times white close-topping-menu" aria-hidden="true" role="button"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


        <!----------------------------- Instruction Edit Modal ---------------------------->

            <div class="modal fade" id="editInstructions" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="row">
                            <div class="col-md-11">
{#                                <form id="edit-article-instructions-form" method="POST" action="{{ path('add_article') }}">#}
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="article-name-on-edit">Article Name</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label>Your Instructions</label>
                                            <textarea name="edit-article-instructions" class="form-control" id="edit-article-instructions" placeholder="Item Instruction"></textarea>
                                        </div>
                                        <input type="hidden" id="edit-article-instructions-iterator">
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary" id="submit-article-instructions">Save Changes</button>
                                    </div>
{#                                </form>#}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <!----------------------------- Footer ---------------------------->

        <div class="footer-order">
            <div class="footer-container">
                <div class="footer-icons">
                    <a href="https://www.facebook.com/Donuts-coffee-110127663851789" target="_blank" class="facebook-footer-icon"><i class="fa fa-facebook-square footer-facebook" aria-hidden="true"></i></a>
                    <a href="https://www.instagram.com/donuts_coffee_official/" target="_blank" class="instagram-footer-icon"><i class="fa fa-instagram footer-instagram" aria-hidden="true"></i></a>
                </div>
                <h6 class="footer-notes">Powered by Natural Ingredients</h6>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        var home = "{{ path('app_order') }}"
    </script>

    {{ parent() }}
    <script src="{{ asset('js/order.js') }}" type="text/javascript"></script>
{% endblock %}