{% extends 'base.html.twig' %}

{% block body_class %}order-body{% endblock %}

{% block body %}
    <div class="container-order" onload="orderLoaded()">

        <!----------------------------- Navbar ---------------------------->

        <div class="nav-order-container">
            <div class="nav-order">
                <a class="navbar-brand nav-title" href="{{ path('app_homepage') }}">
                    <div class="title">Donuts Coffee</div>
                </a>
                <div class="cart-button-container">
                    <button class="shopping-cart-button">
                        <i class="fa fa-shopping-cart shopping-cart-icon" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="cart">
                    <div class="cart-title">
                        <h4 class="dark-bg">Your Order</h4>
                    </div>
                    <div class="cart-content-container">
                       {# <div class="cart-item">
                           <div class="cart-details">
                               <div class="number-container">
                                   <span class="dark-bg number">2x</span>
                               </div>
                               <div class="dark-bg name">Space-nut</div>
                               <div class="price-container">
                                   <span class="dark-bg price">2.000dt</span>
                               </div>
                           </div>
                           <div class="cart-buttons-container">
                               <div class="cart-buttons">
                                   <button class="edit-cart btn btn-outline-light">Edit</button>
                                   <button class="remove-cart btn btn-outline-light">Remove</button>
                               </div>
                               <div class="cart-plus-minus">
                                    <span class="cart-plus dark-bg">+</span>
                                    <span class="cart-minus dark-bg">-</span>
                               </div>
                           </div>
                       </div> #}
{#                       <input type="hidden" name="_csrf_token"#}
{#                            value="{{ csrf_token('authenticate') }}#}
                    </div>
                    <div class="cart-name">
                        <label for="client-name" class="dark-bg">Name:</label>
                        <input class="form-control name-input" placeholder="Order by the name of" aria-label="Client-name" aria-describedby="basic-addon1" type="text" id="client-name" />
                    </div>
                    <div class="cart-phone">
                        <label for="client-phone" class="dark-bg">Phone:</label>
                        <input class="form-control phone-input" placeholder="Valid phone number here " aria-label="Client-phone-number" aria-describedby="basic-addon1" type="text" id="client-phone" />
                    </div>
                    <div class="cart-address-container">
                        <div class="cart-address">
                            <label for="client-address" class="white-bg">Please type in your address and confirm:</label>
                            <input class="form-control address-input" name="client-address" placeholder="Type in your address " aria-label="Client-address" aria-describedby="basic-addon1" type="text" id="client-address" />
                            <button id="delivery-confirm-btn" class="btn btn-outline-dark btn-choice btn-confirm-order">Confirm</button>

                            <div class="close-cart-address-container">
                                <i class="fa fa-times white close-cart-address" aria-hidden="true" role="button"></i>
                            </div>
                        </div>
                    </div>
                    <div class="cart-confirm-container">
                        <div class="cart-confirm">
                            <h2>Please confirm your order.</h2>
                            <button id="pickup-confirm-btn" class="btn btn-outline-dark btn-choice btn-confirm-order">Confirm</button>

                            <div class="close-cart-confirm-container">
                                <i class="fa fa-times white close-cart-confirm" aria-hidden="true" role="button"></i>
                            </div>
                        </div>
                    </div>
                    <div class="cart-space"></div>
                    <div class="cart-validation-choice">
                        <a href="{{ path('order_delivery') }}" id="delivery" class="btn btn-outline-light btn-choice order-delivery">Delivery</a>
                        <a href="{{ path('order_pickup') }}" id="pickup" class="btn btn-outline-light btn-choice order-pickup">Pickup</a>
                        <input type="hidden" name="delivery-confirm" id="delivery-confirm" value="0">
                        <input type="hidden" name="pickup-confirm" id="pickup-confirm" value="0">
                    </div>
                </div>
            </div>
        </div>

        <!----------------------------- Product Menu ---------------------------->

        <div class="menu">
            <h1 class="menu-title">Menu</h1>
        </div>

        <div class="menu-grid">
            <div class="product-grid">

                {% for article in articles %}
                    <div class="item">
                        <div class="item-img">
                            <img src="{{ article.link }}" alt="Item" class="donut-order-img">
                        </div>
                        <div class="item-desc">
                            <div class="item-name-container">
                                <h5 class="white-bg item-name">{{ article.name }}</h5>
                                <p class="white-bg item-description">{{ article.description }}</p>
                            </div>
                            <div class="item-price-container">
                                <div class="white-bg price">{{ article.price }}dt</div>
                                <a href="{{ path('article_display', {slug: article.slug}) }}" class="btn btn-outline-secondary add-to-cart js-add-to-cart" role="button">Add To Cart</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}


                <div class="item-chosen-container">
                    <div class="item-chosen">
                        <div class="item-chosen-img-container">
                            <img alt="Item" class="donut-order-img-chosen">
                        </div>
                        <div class="item-chosen-desc-container">
                            <div class="item-title">
                                <h5 class="donut-chosen-title"></h5>
                            </div>
                            <div class="item-desc">
                                <div class="item-desc-text"></div>
                                <div class="item-desc-user-input">
                                    <label for="donut-instructions" class="user-input-item">Description: </label>
                                    <textarea type="text" name="instructions" id="donut-instructions" class="form-control" placeholder="Specific instructions written here"></textarea>
                                </div>
                            </div>
                            <div class="item-add-btn-container">
                                <a href="" class="btn btn-outline-dark item-add-btn js-item-add-btn">Add To Cart</a>
                            </div>
                        </div>

                        <div class="close-item-chosen-container">
                            <i class="fa fa-times white close-item-chosen" aria-hidden="true" role="button"></i>
                        </div>
                    </div>
                </div>


{#                <div class="item">#}
{#                    <div class="item-img">#}
{#                        <img src="{{ asset('images/OrderNow/Donut Gourmand.jpg') }}" alt="Item" class="donut-order-img">#}
{#                    </div>#}
{#                    <div class="item-desc">#}
{#                        <div class="item-name-container">#}
{#                            <h5 class="white-bg item-name">Space-nut</h5>#}
{#                            <p class="white-bg item-description">Chocolat filled donut</p>#}
{#                        </div>#}
{#                        <div class="item-price-container">#}
{#                            <div class="white-bg price">2.000dt</div>#}
{#                            <button class="btn btn-outline-secondary add-to-cart" role="button">Add To Cart</button>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="item">#}
{#                    <div class="item-img">#}
{#                        <img src="{{ asset('images/OrderNow/Chocolat Brownies Donut.jpg') }}" alt="Item" class="donut-order-img">#}
{#                    </div>#}
{#                    <div class="item-desc">#}
{#                        <div class="item-name-container">#}
{#                            <h5 class="white-bg item-name">Mushroom Donut</h5>#}
{#                            <p class="white-bg item-description">Chocolat Donut with chocolat topping and lots of chocolat.</p>#}
{#                        </div>#}
{#                        <div class="item-price-container">#}
{#                            <div class="white-bg price">9.000dt</div>#}
{#                            <button class="btn btn-outline-secondary add-to-cart" role="button">Add To Cart</button>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="item">#}
{#                    <div class="item-img">#}
{#                        <img src="{{ asset('images/OrderNow/MoanutR.jpg') }}" alt="Item" class="donut-order-img">#}
{#                    </div>#}
{#                    <div class="item-desc">#}
{#                        <div class="item-name-container">#}
{#                            <h5 class="white-bg item-name">Donutello</h5>#}
{#                            <p class="white-bg item-description">A Moanut.. Simply a Moanut</p>#}
{#                        </div>#}
{#                        <div class="item-price-container">#}
{#                            <div class="white-bg price">8.000dt</div>#}
{#                            <button class="btn btn-outline-secondary add-to-cart" role="button">Add To Cart</button>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="item">#}
{#                    <div class="item-img">#}
{#                        <img src="{{ asset('images/OrderNow/Strawberry Donut.jpg') }}" alt="Item" class="donut-order-img">#}
{#                    </div>#}
{#                    <div class="item-desc">#}
{#                        <div class="item-name-container">#}
{#                            <h5 class="white-bg item-name">Strawberry Donut</h5>#}
{#                            <p class="white-bg item-description">I just don't know anymore..</p>#}
{#                        </div>#}
{#                        <div class="item-price-container">#}
{#                            <div class="white-bg price">4.500dt</div>#}
{#                            <button class="btn btn-outline-secondary add-to-cart" role="button">Add To Cart</button>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="item">#}
{#                    <div class="item-img">#}
{#                        <img src="{{ asset('images/OrderNow/MoanutR.jpg') }}" alt="Item" class="donut-order-img">#}
{#                    </div>#}
{#                    <div class="item-desc">#}
{#                        <div class="item-name-container">#}
{#                            <h5 class="white-bg item-name">Donutello</h5>#}
{#                            <p class="white-bg item-description">A Moanut.. Simply a Moanut</p>#}
{#                        </div>#}
{#                        <div class="item-price-container">#}
{#                            <div class="white-bg price">8.000dt</div>#}
{#                            <button class="btn btn-outline-secondary add-to-cart" role="button">Add To Cart</button>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}

        <!----------------------------- Footer ---------------------------->

        <div class="footer-order">
            <div class="footer-container">
                <div class="footer-icons">
                    <a href="https://www.facebook.com/Donuts-coffee-110127663851789" target="_blank" class="facebook-footer-icon"><i class="fa fa-facebook-square footer-facebook" aria-hidden="true"></i></a>
                    <a href="https://www.instagram.com/donuts_coffee_official/" target="_blank" class="instagram-footer-icon"><i class="fa fa-instagram footer-instagram" aria-hidden="true"></i></a>
                </div>
                <h6 class="footer-notes">Powered by Natural Ingredients</h6>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        var home = "{{ path('app_order') }}"
    </script>

    {{ parent() }}
    <script src="{{ asset('js/order.js') }}" type="text/javascript"></script>
{% endblock %}