{% extends 'admin_pannel/admin_nav.html.twig' %}

{% block headerTitle %}Edit{% endblock %}
{% block headerSubTitle %}Edit Your Menu{% endblock %}

{% block breadcrumbList %}
    <li><a href="{{ path('app_dashboard') }}" style="color: black;">Dashboard</a></li>
    <li class="active">&emsp;Edit</li>
{% endblock %}


{% block content %}

    <section id="main">
        <div class="container">
            <div class="row">

                {% block sidebar %}
                    {{ parent() }}
                {% endblock %}

                <div class="col-md-8 ml-auto">

                    {# WEBSITE OVERVIEW #}

                    <div class="card">
                        <div class="card-header main-color-bg">
                            Edit Item
                        </div>
                        <div class="card-body">
                            <form method="POST" action="{{ path('edit_article', {id: article.id}) }}">
                                <div class="form-group">
                                    <label>Article Name</label>
                                    <input type="text" class="form-control" id="edit-name" placeholder="Unique Item Name" value="{{ article.name }}">
                                </div>
                                <div class="form-group">
                                    <label>Article Description</label>
                                    <textarea name="editor1" class="form-control" id="edit-description" placeholder="Item Description" >{{ article.description }}</textarea>
                                </div>
                                <div class="form-group">
                                    <label>Article Quantity Available</label>
                                    <input type="number" class="form-control" id="edit-quantity" min="0" placeholder="Item Quantity" value="{{ article.quantity }}">
                                </div>
                                <div class="form-group">
                                    <label>Article Price</label>
                                    <input type="number" class="form-control" id="edit-price" step="0.001" min="0" placeholder="Item Price" value="{{ article.price }}">
                                </div>
                                <div class="form-group">
                                    <label>Article Link</label>
                                    <input type="text" class="form-control" id="edit-link" placeholder="Add Source Item Image Link" value="{{ article.link }}">
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="edit-isdeleted"
                                        {% if article.isDeleted == 1 %}Checked{% endif %}> Deleted from Menu
                                    </label>
                                    <label>
                                        <input type="checkbox" id="edit-carousel"
                                        {% if article.carousel == 1 %}Checked{% endif %}> Carousel
                                    </label>
                                </div>
                            </form>
                            <input type="submit" class="btn btn-primary" value="Submit" id="edit-submit-article" href="{{ path('edit_article', {id: article.id}) }}">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    {% block modal %}
        {{ parent() }}
    {% endblock %}

    <footer id="footer" class="footer admin-footer main-color-bg">
        <p>Copyrights Parsath, &copy; 2020</p>
    </footer>


{% endblock %}