{% extends 'base.html.twig' %}

{% block metadata %}
    {{ parent() }}
    <meta name="description" content="">
    <meta name="msapplication-config" content="/docs/4.5/assets/img/favicons/browserconfig.xml">
    <meta name="theme-color" content="#563d7c">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/starter-template/">
{% endblock %}

{% block title %}Admin Dashboard{% endblock %}

{% block body_class %}dashboard-main-container{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-md navbar-dark dash-nav">
        <a class="navbar-brand nav-title" href="{{ path('app_homepage') }}">
            <div class="title title-admin">Donuts Coffee</div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            {% block navbar %}
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item {% block dashOn %}{% endblock %}">
                        <a class="nav-link dashnav-item" href="{{ path('app_dashboard') }}">Dashboard <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item {% block menuOn %}{% endblock %}">
                        <a class="nav-link dashnav-item" href="{{ path('app_admin_menu') }}">Menu</a>
                    </li>
                    <li class="nav-item {% block usersOn %}{% endblock %}">
                        <a class="nav-link dashnav-item" href="{{ path('app_admin_users') }}">Users</a>
                    </li>
                    <li class="nav-item {% block orderOn %}{% endblock %}">
                        <a class="nav-link dashnav-item" href="{{ path('app_admin_orders') }}">Orders</a>
                    </li>
                </ul>
                <ul class="navbar-nav navbar-right">
                    <li class="nav-item">
                        <a class="nav-link dashnav-item disabled" href="#">Welcome, Souhaiel</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link dashnav-item" href="{{ path('app_admin_logout') }}">Logout</a>
                    </li>
                </ul>
            {% endblock %}

        </div>
    </nav>

    {# Header #}

    {% block headerContent %}
        <header id="header">
            <div class="container">
                <div class="row header-row-1">
                    <div class="col-md-10">
                        <h1><i class="fa fa-cog"></i>{% block headerTitle %}{% endblock %}</h1>
                    </div>
                    <div class="col-md-1">
                        <div class="dropdown create">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Manage Items
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a type="button" class="dropdown-item" data-toggle="modal" data-target="#addDonut">Add Menu Item</a>
                                <a type="button" class="dropdown-item" data-toggle="modal">Add Admin User</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    {% endblock %}

    {#  Dashboard  #}

    {% block breadcrumb %}
        <section id="breadcrumb md-5">
            <div class="container">
                <ol class="breadcrumb">
                    {% block breadcrumbList %}
                    {% endblock %}
                </ol>
            </div>
        </section>
    {% endblock %}

    {% block content %}

        {% block sidebar %}
            {{ render(path('sidebar')) }}
        {% endblock %}

        {% block modal %}
            <div class="confirm-add-container">
                <div class="confirm-add">
                    <h2 class="confirm-add-text"></h2>

                    <div class="close-confirm-add-container">
                        <i class="fa fa-times black close-confirm-add" aria-hidden="true" role="button"></i>
                    </div>
                </div>
            </div>

            {# Modals #}

            <div class="modal fade" id="addDonut" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="row">
                            <div class="col-md-11">
                                <form id="add-article" method="POST" action="{{ path('add_article') }}">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label>Article Name</label>
                                            <input type="text" class="form-control" name="add-name" id="add-name" placeholder="Unique Item Name">
                                        </div>
                                        <div class="form-group">
                                            <label>Article Description</label>
                                            <textarea name="add-description" class="form-control" id="add-description" placeholder="Item Description"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label>Article Quantity Available</label>
                                            <input type="number" class="form-control" name="add-quantity" id="add-quantity" min="0" placeholder="Item Quantity">
                                        </div>
                                        <div class="form-group">
                                            <label>Article Price</label>
                                            <input type="number" class="form-control" name="add-price" id="add-price" step="0.001" min="0" placeholder="Item Price">
                                        </div>
                                        <div class="form-group">
                                            <label>Article Link</label>
                                            <input type="text" class="form-control" name="add-link" id="add-link" placeholder="Add Source Item Image Link">
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="add-carousel" id="add-carousel"> Carousel
                                            </label>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary" id="submit-article" href="{{ path('add_article') }}">Save Changes</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {% endblock %}

    {% endblock %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/dashboard.js') }}" type="text/javascript"></script>
{% endblock %}